<h4>Choose Endpoint (Sandbox only)</h4>
<%= raw show_endpoint(session[:endpoint]) %>
<br/>

<h4>Express Checkout</h4>
<table class="table table-striped">
        <tbody>
          <tr>
            <td style="width:10%;">
              SetExpressCheckout
            </td>
            <td>
              <%= form_tag("/cl/setec", method: "post") do %>
                <p>
                <%= label_tag(nil, "Parameters") %>
                <%= text_area_tag('q_setec', session[:q_setec], {:rows=>'3', :class=>'form-control'}) %>
                <%= hidden_field_tag('endpoint','', :id=>'e_setec') %>
                </p>
               <%= button_tag("1.Begin the payment!", :class =>'btn btn-default') %>
              <% end %>
              <%= raw show_res('SetExpressCheckout', @res) if request.path_info == '/cl/setec' || request.fullpath.include?('st=') %>
            </td>
          </tr>

          <tr>
            <td>
              GetExpressCheckoutDetails
            </td>
            <td>
              <%= form_tag("/cl/getec", method: "post") do %>
                <p>
                <%= label_tag(nil, "Token") %>
                <%= text_field_tag('t_getec', @t_getec, :class=>'form-control') %>
                <%= hidden_field_tag('t_doec', @t_doec) %>
                <%= hidden_field_tag('p_doec', @p_doec) %>
                <%= hidden_field_tag('q_doec', @q_doec) %>
                </p>
               <%= button_tag("2.Check the paymant!", :class =>'btn btn-default') %>
              <% end %>
              <%= raw show_res('GetExpressCheckoutDetails', @res) if request.path_info == '/cl/getec' %>
            </td>
          </tr>

          <tr>
            <td>
              DoExpressCheckoutPayment
            </td>
            <td>
              <%= form_tag("/cl/doec", method: "post") do %>
                <p>
                <%= label_tag(nil, "Token") %>
                <%= text_field_tag('t_doec', @t_doec, :class=>'form-control') %>
                <%= label_tag(nil, "PayerId") %>
                <%= text_field_tag('p_doec', @p_doec, :class=>'form-control') %>
                <%= label_tag(nil, "Parameters") %>
                <%= text_area_tag('q_doec', @q_doec, {:rows=>'3', :class=>'form-control'}) %>
                <%= hidden_field_tag('t_getec', @t_getec) %>
                </p>
               <%= button_tag("3.Finish the payment!", :class =>'btn btn-default') %>
              <% end %>
              <%= raw show_res('DoExpressCheckoutPayment', @res) if request.path_info == '/cl/doec' %>
            </td>
          </tr>
    </tbody>
</table>

<script>
var setEp = function () {
  $("#e_setec").val($('#e_p').val());
};

$('#e_p').change(setEp);

setEp();

</script>
