<h4>Login With PayPal JS Gadget <a target="_blank" href="https://developer.paypal.com/docs/integration/direct/identity/log-in-with-paypal/">details</a></h4>
<span id="myContainer"></span>
<script src="https://www.paypalobjects.com/js/external/api.js"></script>
<script>
paypal.use( ["login"], function(login) {
  login.render ({
    "appid": "<%= @client_id %>",
    "authend": "sandbox",
    //"scopes": "openid profile email address phone https://uri.paypal.com/services/paypalattributes https://uri.paypal.com/services/invoicing",
    "scopes": "openid profile email address phone https://uri.paypal.com/services/paypalattributes",
    //"scopes": "openid profile email address phone",
    "containerid": "myContainer",
    "locale": "ja-jp",
    "returnurl": "<%= @redirect_uri %>"
  });
});
</script>

<br/>
<br/>

<h4>Obtain Buyer/Seller Token (Manual Login With PayPal) <a target="_blank" href="https://developer.paypal.com/docs/api/#obtain-users-consent">details</a></h4>
<form method="post" action="/lg/auth">
  <input type="submit" value="Give your access token!">
</form>

<br/>
<br/>

Access Token: <%= @access_token %><br/>
Refresh Token: <%= @refresh_token %><br/>
<h4>You can obtain an access token by the refresh token above without PayPal login at the next time.</h4>
(curl -X POST https://api.sandbox.paypal.com/v1/oauth2/token <br/>
    -H "Content-Type: application/x-www-form-urlencoded" <br/>
    -u "CLIENT_ID:SECRET" <br/>
    -d 'grant_type=refresh_token&refresh_token=<%= @refresh_token %>')<br/>
<br/>
<%= @res %>
