
<h4>Payments <a href="https://developer.paypal.com/docs/api/#payments" target="_blank">details</a></h4>
<table class="table table-striped">
        <tbody>
          <tr>
            <td style="width:26%;">
              Create a payment
            </td>
            <td>
              <%= form_tag("/rest/pay", method: "post") do %>
                <p>
                <%= label_tag(nil, "Parameters") %>
                <%= link_to("details", 'https://developer.paypal.com/docs/api/#create-a-payment', :target => '_blank') %>
                <%= text_area_tag('q_pay', @q_pay, {:rows=>'8', :class=>'form-control'}) %>
                </p>
               <%= button_tag("Execute a payment!", :class =>'btn btn-default') %>
              <% end %>
              <%= raw show_res('Create a payment', @res) if request.path_info == '/rest/pay' %>
            </td>
          </tr>

        </tbody>
</table>
