<a href="?is_us=true">&gt;&gt;Check in US mode</a>
<div class="row">
  <div class="col-md-9">
    <h4>Express Checkout Best Practice
      <a target="_blank" href="https://www.paypal.jp/merchant/service/express-checkout/integration.html">details</a>
    </h4>
  </div>
  <div class="col-md-3 align-right">
  <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.jp/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80/','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypal.jp/uploadedImages/wwwpaypaljp/Supporting_Content/jp/contents/popup/logo/SG_mc_vs_am_jcb_JP_203_80.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
  </div>
</div>

<table class="table table-striped">
  <thead>
      <tr>
        <th>No.</th>
        <th>Item</th>
        <th>Buy</th>
      </tr>
  </thead>
  <tbody>

    <tr>
      <td style="width:1%">1001</td>
      <td style="width:50%">
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="/images/shoes.jpg" >
          </div>
          <div class="col-md-7">
            <label>Greate Shoes</label>
            <p>¥10,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>2002</td>
      <td>
        <div class="row">
          <div class="col-md-3">
            <img class="img-responsive" style="height:60px; width:auto;" src="/images/wine.png" >
          </div>
          <div class="col-md-7">
            <label>Greate Wine</label>
            <p>¥20,000</p>
          </div>
      </td>
      <td>
        <select class="form-control" style="width:100px;">
          <option id="">None</option>
          <option id="1">1</option>
          <option id="2">2</option>
          <option id="3">3</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<label>Select Payment</label>
<table class="table">
  <tbody>
    <tr>
      <td>
        <input type="radio" checked> PayPal
      </td>
      <td>
        <div class="row">
          <div class="col-md-3">
        <!-- PayPal Logo --><table border="0" cellpadding="10" cellspacing="0" align="center"><tr><td align="center"></td></tr><tr><td align="center"><a href="#" onclick="javascript:window.open('https://www.paypal.jp/jp/contents/popup/logo/AM_190_65/','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=900, height=700');"><img src="https://www.paypal.jp/uploadedImages/wwwpaypaljp/Supporting_Content/jp/contents/popup/logo/AM_190_65.png" border="0" alt="その他のオプション"></a></td></tr></table><!-- PayPal Logo -->
         </div>
         <div class="col-md-7 small">
           <p class="small">
            ペイパルは、インターネット上の便利な【デジタルおさいふ】です。ペイパルにクレジットカード情報を登録しておけば、IDとパスワードだけで決済完了。お店に大切なカード情報を知らせることなく、より安全に支払いができます。ペイパルアカウントの開設は、決済方法でPayPalを選択して必要事項を入力するだけなのでかんたんです。
          </p>
         </div>
      </td>
    </tr>
    <tr>
      <td style="width:20%">
        <input type="radio" disabled> Credit Card
      </td>
      <td>
        <img src="/images/dcc.png">
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-md-7"></div>
  <div class="col-md-3">
    <form action='web/checkout'>
      <input type="hidden" name="q_context" value="<%=session[:q_context]=%>">
     <button type="submit" class="btn btn-primary btn-lg btn-block">Next</button>
   </form>
</div>
<p>
<%=@res%>
</p>
</div>
<br/>

<h4>
  In-Context Express Checkout
  <a target="_blank" href="https://developer.paypal.com/docs/integration/direct/express-checkout/integration-jsv4/upgrade-integration">details</a>
</h4>
<div id="paymentMethods"></div>

<script src="https://www.paypalobjects.com/api/checkout.js">
</script>

<script>
    var CREATE_PAYMENT_URL  = 'https://jo-pp-ruby-demo.herokuapp.com/web/checkout?context=true&commit=false&is_us=<%= @is_us.to_s %>&q_context=<%= session[:q_context].gsub('&', '%26')%>&redirect=false';

    paypal.Button.render({

        env: 'sandbox', // Optional: specify 'sandbox' environment

        payment: function(resolve, reject) {
            paypal.request.get(CREATE_PAYMENT_URL)
                .then(function(data) { resolve(data.token); })
                .catch(function(err) { reject(err); });
        },

        onAuthorize: function(data, actions) {
            return actions.redirect();
        },

        onCancel: function(data, actions) {
            return actions.redirect();
        }

    }, '#paymentMethods');
</script>

<!--
<h4>
  In-Context Express Checkout (Old)
  <a target="_blank" href="https://developer.paypal.com/docs/classic/express-checkout/in-context/">details</a>
</h4>
<form id="myContainer" method="get" action="/web/checkout">
  <input type="hidden" name="context" value="true">
  <input type="hidden" name="is_us" value="<%= @is_us.to_s %>">
  <%= label_tag(nil, "Parameters for SetExpressCheckout") %>
  <%= text_area_tag('q_context', session[:q_context], {:rows=>'3', :class=>'form-control'}) %>
  <%= @button.html_safe %>
</form>
<script>
  window.paypalCheckoutReady = function () {
    paypal.checkout.setup('<%= @merchant_id %>', {
      locale: '<%= @locale %>',
      environment: 'sandbox',
      <%= @context_params.html_safe %>
    });
  };
</script>

<br/>
<br/>

<h4>
  In-Context Express Checkout by Ajax
  <a target="_blank" href="https://developer.paypal.com/docs/classic/express-checkout/in-context/javascript_advanced_settings/">details</a>
</h4>
<a href="/in-con-ajax.html">&gt;&gt; Here</a>
<br/>
<br/>
-->
<script type="text/javascript">
function isMobile(){
  if ((navigator.userAgent.indexOf('iPhone') > 0 && navigator.userAgent.indexOf('iPad') == -1) ||
    navigator.userAgent.indexOf('iPod') > 0 || navigator.userAgent.indexOf('Android') > 0) {
  	return true;
  }
  return false;
};
</script>


<h4>
  Wep Payment Plus in responsive layout by mobile-iframe
  <a target="_blank" href="https://www.paypal.jp/merchant/service/web-payment-plus/integration.html">details</a>
</h4>

<iframe name="hss_iframe_mobile" width="470px" height="320px" style="border:none;" id="hss_iframe_mobile"></iframe>
<form style="display:none;" method="post" name="form_iframe_mobile" target="hss_iframe_mobile"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="50">
<!--<input type="hidden" name="currency_code" value="USD">-->
<input type="hidden" name="currency_code" value="JPY">
<!--<input type="hidden" name="business" value="W2RNXXPHP3YXE">-->
<input type="hidden" name="business" value="6SQKZ5KKFLYTC"><!-- benzookapi+HSSTest-->
<input type="hidden" name="paymentaction" value="sale">
<!--<input type="hidden" name="paymentaction" value="authorization">-->
<input type="hidden" name="template" value="mobile-iframe">
<input type="hidden" name="billing_address1" value="BillingAddress1">
<input type="hidden" name="billing_address2" value="BillingAddress2">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="BillingTaro">
<input type="hidden" name="billing_last_name" value="BillingTest">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="123-4567">
<input type="hidden" name="lc" value="JP">
<!--<input type="hidden" name="address1" value="Address1">
<input type="hidden" name="address2" value="">
<input type="hidden" name="country" value="JP">
<input type="hidden" name="zip" value="1234567">
<input type="hidden" name="state" value="Tokyo">
<input type="hidden" name="city" value="Setagaya-ku">
<input type="hidden" name="address_override" value="true">-->
<input type="hidden" name="showHostedThankyouPage" value="FALSE">
<!--<input type="hidden" name="return" value="https://jo-pp-ruby-demo.herokuapp.com/web">-->
<input type="hidden" name="return" value="https://jo-pp-ruby-demo.herokuapp.com/ipn">
</form>
<script type="text/javascript">
 if (isMobile()) document.getElementById("hss_iframe_mobile").width = "320px";
 document.form_iframe_mobile.submit();
</script>
<br/>
<br/>

<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="1000">
<input type="hidden" name="currency_code" value="JPY">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="mobile-iframe">
<input type="hidden" name="billing_address1" value="-">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="-">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="hidden" name="lc" value="JP">
<!--<input type="hidden" name="showHostedThankyouPage" value="FALSE">-->
<input type="hidden" name="return" value="https://jo-pp-ruby-demo.herokuapp.com/ipn">
<input type="submit" value="Pay in mobile-iframe template going to new window">
</form>
<br/>
<br/>
<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="1">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="authorization">
<input type="hidden" name="template" value="mobile-iframe">
<input type="hidden" name="billing_address1" value="-">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="-">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="hidden" name="lc" value="JP">
<input type="hidden" name="showHostedThankyouPage" value="FALSE">
<input type="submit" value="Get an authorization in new window">
</form>
<br/>
<br/>
<form method="post"
action="https://securepayments.sandbox.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="10">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="business" value="W2RNXXPHP3YXE">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateA">
<input type="hidden" name="billing_address1" value="-">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="-">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="hidden" name="lc" value="JP">
<input type="submit" value="Pay in templateA going to new window">
</form>
<br/>
<!--
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

<form method="post"
action="https://securepayments.paypal.com/webapps/HostedSoleSolutionApp/
webflow/sparta/hostedSoleSolutionProcess">
<input type="hidden" name="cmd" value="_hosted-payment">
<input type="hidden" name="subtotal" value="100">
<input type="hidden" name="currency_code" value="JPY">
<input type="hidden" name="business" value="EBLUNXFMKESTL">
<input type="hidden" name="paymentaction" value="sale">
<input type="hidden" name="template" value="templateA">
<input type="hidden" name="billing_address1" value="Address1">
<input type="hidden" name="billing_address2" value="">
<input type="hidden" name="billing_city" value="Setagaya-ku">
<input type="hidden" name="billing_country" value="JP">
<input type="hidden" name="billing_first_name" value="Taro">
<input type="hidden" name="billing_last_name" value="Test">
<input type="hidden" name="billing_state" value="Tokyo">
<input type="hidden" name="billing_zip" value="1234567">
<input type="submit" value="Pay in template mobile-iframe (LIVE ACCOUNT, DO NOT PAY!!)">
</form>
<br/>
-->
