<!DOCTYPE html>
<html>
<head>
  <title>PayPalRubyDemo</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/">PayPal Demo by Ruby</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="<%= request.path_info.start_with?('/web') || request.path_info == '/' ? 'active' : '' %>"><a href="/web">Web</a></li>
              <li class="<%= request.path_info.start_with?('/btn') ? 'active' : '' %>"><a href="/btn">Buttons</a></li>
              <li class="<%= request.path_info.start_with?('/rest') ? 'active' : '' %>"><a href="/rest">REST API</a></li>
              <li class="<%= request.path_info.start_with?('/cl') ? 'active' : '' %>"><a href="/cl">NVP(Classic) API</a></li>
              <li class="<%= request.path_info.start_with?('/brain') ? 'active' : '' %>"><a href="/brain" onclick="javascript:location.href='/brain';">Braintree</a></li>
              <li class="<%= request.path_info.start_with?('/webhook') ? 'active' : '' %>"><a href="/webhook">Webhooks</a></li>
              <li class="<%= request.path_info.start_with?('/ipn') ? 'active' : '' %>"><a href="/ipn">IPN</a></li>
              <li class="<%= request.path_info.start_with?('/lg') ? 'active' : '' %>"><a href="/lg" onclick="javascript:location.href='/lg';">Login With PayPal</a></li>
              <li class="<%= request.path_info.start_with?('/ad') ? 'active' : '' %>"><a href="/ad">Adaptive Payment</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="https://github.com/benzookapi/PayPalRubyDemo" target="_blank">Source code&gt;&gt;</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
  </nav>

  <div class="container">

    <%= yield %>

  </div>

  <hr>

  <footer class="text-center">
    <p>&copy; benzookapi 2015</p>
  </footer>

</body>
</html>
